* {
    margin:0px;
    padding;0px;
}

body {
    font-family: "Verdana";
}

#header {
    
    overflow:hidden;
    margin: 0 auto;
    text-transform:uppercase;
    text-align:center;
    width:1100px;
    height:auto;
}


#header .photo-small {
    
    width: 100%;
    max-width:500px;
    color:#fff;
}

#header .photo-medium {
   
  width: 100%;
    max-width:500px;
    color:#fff;
}

#header .photo-big {
    
     width: 100%;
    max-width:500px;
    color:#fff;
}
