* {
    margin:0px;
    padding;0px;
}

body {
    font-family: "Verdana";
    position:relative;
}

#header {
    overflow:hidden;
    margin: 0 auto;
    text-transform:uppercase;
    text-align:center;
    line-height:1.5;
    width:1100px;
    height:auto;
    color:white;
}

#header .photo-small {
    width: 100%;
    max-width:500px;
}

#header .photo-medium {
    width: 100%;
    max-width:500px;
}

#header .photo-big {
    width: 100%;
    max-width:500px;
}

